@import url(./style/header.css); /*Para importar o HEADER.CSS dentro do STYLE.CSS*/
@import url(style/banner.css); /*Para importar o BANNER.CSS dentro do STYLE.CSS*/
@import url(./style/carrosel.css); /*Para importar o CARROSEL.CSS dentro do STYLE.CSS*/
@import url(./style/topicos.css); /*Para importar o TOPICOS.CSS dentro do STYLE.CSS*/
@import url(./style/contato.css); /*Para importar o CONTATO.CSS dentro do STYLE.CSS*/
@import url(./style/footer.css); /*Para importar o CONTATO.CSS dentro do STYLE.CSS*/


:root{
    --cor-de-fundo:#EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-degrade:  linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "poppins";
    --fonte-secundaria: "Josefin Sans";
    --azul:  #002F52;
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;;
 
}

body{
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    background-color: var(--cor-de-fundo);
    
}

header{
    display: flex; /*Para deixar em linha*/

}



/*FLEX-DIRECTION: COLUMN - EIXO TRANSVERSAL MUDA A DIREÇÃO QUANDO COLOCAMOS POR EX.: DISPLAY:FLEX*/
/*WRITING-MODE: VERTICAL-LR - ALTERA O MODO DA ESCRITA DE VERTICAL PARA HORIZONTAL*/
/*FLEX-WRAP: WRAP - QUEBRA LINHA*/