.banner{ /*SECTION*/
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em; /*2.5em cima e baixo - 2em esquerda e direita*/
}

.banner_titulo{ /*H2*/
    font-size: 18px;
    font-weight: 700;
}

.banner_texto{ /*P*/
    font-weight: 500;
     margin: 1em 0; /*Espaçamento de cima e baixo 1em no paragráfo*/
}

.banner_pesquisa{ /*INPUT "SEARCH"*/
    background-color: transparent; /*Estava branco o fundo, para deixar azul conforme o fundo so por transparencia*/
    border: 1px solid var(--branco) ;
    border-radius: 24px ;
    color: var(--branco);
    padding: 1em;
    width: 100%; /*Largura 100% que pode ocupar aqui no banner*/  
    outline: none; /*tirando o contorno do input=tela*/

}

.banner_pesquisa::placeholder{
    background-image: url(../img/Lupa.svg) ;
    background-repeat: no-repeat; /*Para a imagem não repetir*/
    background-position: 1em; /*Posição da lupa*/
    font-family: var(--fonte-principal); /*Quando foi posto no BODY a fonte os atributos como placeholder não recebeu essa estilização*/
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--branco);
}


@media screen and (min-width:1024px) {

.banner_titulo{
    font-size: 36px;
}

.banner_pesquisa{
    width: 45%;
    padding: 1.3em 0;
}

.banner_pesquisa::placeholder{
    background-position: 5em; /*Para deixar a lupa de pesquisa perto da palavra dentro do INPUT perto*/
}


}


                                                      /*Responsivel para DESKTOP=COMPUTADOR*/

 @media screen and (min-width: 2025px) { /*Media Query*/

    .banner{
        padding: 5em 0;
    }

    .banner_pesquisa{
        width: 25%;
        margin: 1em 0 2em 0; /*Se eu tivesse colocado padding, iria aumentar o campo INPUT*/
    }

    .banner_pesquisa::placeholder{ /*Colocamos a IMG da lupa no placeholder, para posicionar precisamos aplicar o modo que chamamos ele para inseri-lo no css*/
        background-position: 8em; /*Posicionar a LUPA que inserimos no BACKGROUND*/
    }



}